[submodule "src/contrib/mbedtls"]
	path = src/contrib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "src/contrib/http-parser"]
	path = src/contrib/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "src/contrib/libuv"]
	path = src/contrib/libuv
	url = https://github.com/libuv/libuv.git
